<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    
    <div class="card col-6 mx-auto mt-5 bg-light" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">User {{user.id}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Full Name: {{user.full_name()}}</h6>
            <p class="card-text">Email: {{user.email}}</p>
            <p class="card-text">Created On: {{user.created_at.strftime('%b %d %y')}}</p>
            <p class="card-text">Last Updated: {{ user.updated_at.strftime('%b %d %y')}}</p>
        </div>
    </div>

</body>
</html>